<!-- BEGIN: Header-->
<header class="page-topbar" id="header">
    <div class="navbar navbar-fixed">
        <nav class="navbar-main navbar-light">
            <div class="nav-wrapper">
                    <a class="navbar-brand mt-2" href="#">
                        <img src="../../assets/full_logo_light2.png" style="width: 10em;margin-left: 12em;margin-top: 1em;">
                    </a>
                <ul class="navbar-list right mr-2">
                    <li>
                        <button style="border: none;margin-right: 2em;">
                            <mat-icon matBadge="699" matBadgeColor="warn" matBadgePosition="above" style="font-size: 2em;margin-top: 0.6em;">notifications_none</mat-icon>
                        </button>
                    </li>
                    <li style="margin-top: 0.8em;"><ngx-avatar name="Abishek Bacchan" size="42" bgColor="#b3e87e"></ngx-avatar></li>
                </ul>
            </div>
        </nav>
    </div>
</header>
<!-- Begin-Side header -->
<aside class="sidenav-main nav-expanded nav-lock nav-collapsible sidenav-active-rounded navbar-toggle">
    <div class="brand-sidebar">
        <ul class="sidenav sidenav-collapsible leftside-navigation collapsible sidenav-fixed menu-shadow"
        id="slide-out" data-menu="menu-navigation" data-collapsible="accordion">
            <li class="navigation-header pl-0" [ngClass]="{'selected-bar': selected[0]}" style="margin-top: 3em;">
                <button mat-button (click)="onSelect(0)" [ngClass]="{'selected-icon': selected[0]}"><i class="fas fa-border-all onSelect-icon" style="font-size: 2.55em;"></i></button></li>
            <li class="navigation-header pl-0" [ngClass]="{'selected-bar': selected[1]}">
                <button mat-button (click)="onSelect(1)" [ngClass]="{'selected-icon': selected[1]}"><i class="material-icons onSelect-icon" style="font-size: 2.5em;">search</i></button></li>
            <li class="navigation-header pl-0" [ngClass]="{'selected-bar': selected[2]}">
                <button mat-button (click)="onSelect(2)" [ngClass]="{'selected-icon': selected[2]}"><i class="material-icons onSelect-icon" style="font-size: 2.5em;">storefront</i></button></li>
        </ul>
    </div>
</aside>